DATABASE_URL="postgresql://postgres:postgres@localhost:5444/telegram_expense_bot?schema=public"

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

GEMINI_API_KEY=

PORT=2020
NODE_ENV=development
BACKEND_URL=http://localhost:2020

ALLOWED_ORIGIN=
